body {
  margin: 0;
  padding: 0;
  min-width: 525px;
  display: flex;
  flex-direction: column; 
  min-height: 100vh; 
}

header {
  background-color: #cccccc;
  text-align: center;
  font-style: italic;
  padding: 10px;
}

footer {
  background-color: #cccccc;
  text-align: center;
  font-style: italic;
  padding: 10px;
}

#wrapper {
  display: flex; 
  flex-grow: 1; 
}

#left_side {
  width: 200px;
  background-color: #7500af;
  padding: 20px; 
}

#right_side {
  width: 125px;
  background-color: #d15e00;
  padding: 20px; 
}

#content_area {
  flex-grow: 1; 
  background-color: #ffffff;
  padding: 20px; 
}

h1 {
  margin: 0;
}

#left_side ul {
  list-style: none;
  margin: 12px 0px 0px 12px;
  padding: 0px;
}

#left_side li a:link,
#left_side li a:visited {
  font-size: 12pt;
  font-weight: bold;
  padding: 3px 0px 3px 3px;
  color: #000000;
  text-decoration: none;
  display: block;
}

#left_side li a:hover,
#left_side li a:active {
  font-size: 12pt;
  font-weight: bold;
  padding: 3px 0px 3px 3px;
  color: #ffffff;
  text-decoration: none;
  display: block;
}

body, ul {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  color: #fff;
}

ul {
  list-style-type: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #555;
}